############################
# Unity Generated Folders
############################

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Recordings/

############################
# Addressables
############################

ServerData/

############################
# IDEs / Editors
############################

.vscode/
.idea/
.vs/

############################
# Visual Studio / Rider
############################

*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

############################
# OS Files
############################

.DS_Store
Thumbs.db

############################
# Large Assets (optional)
############################


